<%= form_with(model: [@doctor, medical_record], local: true) do |form| %>
  <% if medical_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medical_record.errors.count, "error") %> prohibited this medical record from being saved:</h2>
      <ul>
        <% medical_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.collection_select :patient_id, Patient.all, :id, :name, include_blank: 'Select Patient', selected: @medical_record.patient_id %>
  </div>

  <div class="field">
    <%= form.label :diagnosis %>
    <%= form.text_area :diagnosis %>
  </div>

  <div class="field">
    <%= form.label :prescription %>
    <%= form.text_area :prescription %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, max: Date.today,  required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
