<!DOCTYPE html>
<html>
<head>
  <title>Hospital Management System</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <h1>Welcome to the Hospital Management System</h1>
  <p>This system allows you to manage patients, doctors, appointments, and medical records efficiently.</p>
</head>


<body>
  
    
  <div class="container">
    
    <h2>Quick Links</h2>
    <ul>
      <li><%= link_to 'View All Patients', patients_path %></li>
      <li><%= link_to 'View All Doctors', doctors_path %></li>
      
    </ul>

    <h2>Statistics</h2>
    <ul>
      <li>Total Patients: <%= Patient.count %></li>
      <li>Total Doctors: <%= Doctor.count %></li>
      <li>Total Appointments: <%= Appointment.count %></li>
      <li>Total Medical Records: <%= MedicalRecord.count %></li>
    </ul>
  </div>
</body>
</html>
