<%= form_with(model: [@patient, appointment], local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>
      <ul>
        <% appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :doctor_id %>
    <%= form.collection_select :doctor_id, Doctor.all, :id, :name, include_blank: 'Select Doctor', selected: @appointment.doctor_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, min: Date.today, required: true %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_field :time, value: @appointment.time.try(:strftime, "%H:%M"), required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
