<h1>Appointments</h1>

<%= link_to 'New Appointment', new_patient_appointment_path(@patient_or_doctor) %>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Doctor</th>
      <th>Date</th>
      <th>Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.name if appointment.patient %></td>
        <td><%= appointment.doctor.name if appointment.doctor %></td>
        <td><%= appointment.date %></td>
        <td><%= appointment.time.strftime("%H:%M") %></td>
        <td>
          <%= link_to 'Show', [appointment.patient || appointment.doctor, appointment] %>
          <%= link_to 'Edit', edit_patient_appointment_path(appointment.patient, appointment) %>
          <%= link_to 'Destroy', [appointment.patient || appointment.doctor, appointment], data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
