<h1>Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Doctor</th>
      <th>Date</th>
      <th>Time</th>
      <th><span>  </span>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.doctor&.name || 'Not assigned' %></td>
        <td><%= appointment.date %></td>
        <td><%= appointment.time.try(:strftime, "%H:%M") %></td>
        <td><%= link_to 'Show', patient_appointment_path(@patient, appointment) %></td>
        <td><%= link_to 'Edit', edit_patient_appointment_path(@patient, appointment) %></td>
        <%# <><%= link_to 'Destroy', patient_appointment_path(@patient, appointment), data: { "turbo-method": :delete,"turbo-confirm": 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Appointment', new_patient_appointment_path(@patient) %>
<%= link_to 'Back to patient', patient_path(@patient) %>

