<h1>Appointment</h1>

<p>
  <strong>Doctor:</strong>
  <%= @appointment.patient&.name || 'Not assigned' %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor&.name || 'Not assigned' %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @appointment.time.try(:strftime, "%H:%M") %>
</p>


<%= link_to 'Edit', edit_patient_appointment_path(@patient, @appointment) %> |
<%= link_to 'Back', patient_appointments_path(@patient) %>
